<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- RAVEN CLIENT - CHECK MEMORY ON NTH REQUEST INTERVAL
         Sets the number of requests made between each check of the system's available memory to see if the SimpleCache should be cleared 
         default: 1000 -->
    <add key="RavenClient/CheckMemoryOnNthRequestInterval" value="1000" />
    <!-- RAVEN CLIENT - SYSTEM AVAILABLE MEMORY THRESHOLD
         Sets the minimum amount of available memory (in MBytes) that the system must have in order to prevent SimpleCache from evicting entries 
         default: 1024 -->
    <add key="RavenClient/SystemAvailableMemoryThreshold" value="1024" />
  </appSettings>
</configuration>